@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------
Utilities
-------------- */

body{
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.primary-color{
    color: #D64DC5;
}
.btn{
    padding: 8px 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.btn-primary{
    background-color: #FF42A5;  
}
.btn-primary:hover{
    background-color:#cb1573 ;
}
.btn-secondary{
    background-color: #4EC5F7;
}
.btn-secondary:hover{
    background-color: #109bd7;
}

/* ------------------
    Header
------------------- */
header{
    padding-top: 1rem;
    background-color: #FDF7FD;
}
header .logo{
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo span{
    color: #FF42A5;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li{
    font-weight: 500;
    margin-right: 20px;
}

nav ul li:hover{
 font-weight: bold;
}

.banner{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.banner-details{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-details ul{
    list-style-type: none;
    padding: 0;
}
.banner-details ul li{
    margin: 10px 0px;
}
.banner-details ul i{
    margin-right: 10px;
}
.banner-details h1{
    font-size: 4rem;
    margin: 10px 0;
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}

/* -----------------
       Main
----------------- */

/* -------------------
    Gamer Section
------------------ */
.gamer-section{
    background-color: #FFF9FC;
    padding: 30px 0;
}
.gamer-flex{
    display: flex;
    justify-content: space-between;
}
.gamer-details{
    text-align: right;
}

/* --------------------------
    Online Games Section
--------------------------- */
.online-games{
    margin: 30px 0;
    text-align: center;
}
.games-flex{
    display: flex;
    gap:20px ;
    justify-content: space-between;
}

.games-flex .games-image{
        width: 50%;
}

.games-flex .games-image img{
    width: 100%;
}
/* ------------------------
  Careers Section
------------------------- */
.careers-section{
    background-color: #FF55AE ;
    color: white;
}
.careers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers-description{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 4rem 0;
}
.careers-image{
    width: 70%;
}
.careers-image img{
    width: 100%;
}
.position{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.position-btn{
    background-color: white;
    color: #FF55AE ;
    border: 0;
    border-radius: 25px;
    font-weight: 700;
    padding: 1rem 1rem;
}
.position-btn:hover{
    color: black;
}

/* --------------------------------
    Games Categories Section
---------------------------------- */
.games-categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem 0;
}
.category{
    display: flex;
    gap: 10px;
    border: 1px solid #D64DC5;
    border-radius: 50px;
    padding: 1rem;
    color: #D64DC5;
}
/* -------------------
       Footer 
------------------- */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0223;
    color: white;
    padding: 50px 0;
}
.footer-logo {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.footer-container ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.footer-feature{
    margin: 20px 0;
    font-weight: 700;
}

.social-links {
    margin: 20px 0;
    font-size: 1.5rem;
}
.footer-ending{
    color: rgb(197, 193, 193);
    text-align: center;
    margin: 30px 0;
}



